RewriteEngine On

# Ez mondja meg a szervernek, hogy mi a projekt pontos mappája
RewriteBase /iws-2025-hu/Projekt-iws/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]